[project]
	description = Domus - Open-Source Home Automation System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/George Sudarkoff (sudarkoff)
[access "refs/for/refs/*"]
	read = group user/George Sudarkoff (sudarkoff)
	push = group user/George Sudarkoff (sudarkoff)
	label-Code-Review = -2..+2 group user/George Sudarkoff (sudarkoff)
	label-Verified = -1..+1 group user/George Sudarkoff (sudarkoff)
	rebase = group user/George Sudarkoff (sudarkoff)
	removeReviewer = group user/George Sudarkoff (sudarkoff)
	submit = group user/George Sudarkoff (sudarkoff)
[access "refs/heads/*"]
	read = group user/George Sudarkoff (sudarkoff)
	create = group user/George Sudarkoff (sudarkoff)
	push = +force group user/George Sudarkoff (sudarkoff)
	pushMerge = group user/George Sudarkoff (sudarkoff)
[access "refs/tags/*"]
	push = +force group user/George Sudarkoff (sudarkoff)
	pushTag = group user/George Sudarkoff (sudarkoff)
	pushSignedTag = group user/George Sudarkoff (sudarkoff)
